*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-size: 40px;
    color:white;
}
#container{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    gap:5px;
    margin: 5px;
    
}
.Box{
    background-color: rgb(171, 99, 32);
    justify-content: center;
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
}
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.content1{
    grid-column-start: 2;
    grid-column-end: 4;
}
.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}