*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    perspective: 800px;
}
.box{
    height: 100px;
    width: 100px;
    background-color: orange;
    cursor: pointer;
    transition-property: all;
    transition-duration: 3s;
}
.box:hover{
    background-color: purple;
    /* height: 300px;
    width: 200px;  */
    transform: translateX(30px);
    transform: rotateX(30deg);
    transform: rotate(30deg);
}