/* element type styling */
/* h1{
    background-color: aliceblue;
}
h2{
    background-color: antiquewhite;
    font-size: 50px;
} */

/* id type styling */
/* #first{
    background-color: aliceblue;
}
#second{
    background-color: aquamarine;
} */

/* class based styling */
/* .sa{
    background-color: thistle;
}  */

/* group type style */
/* #first, .sa{
    background-color: chocolate;
} */
